<input [(ngModel)]="nameFilter" type="text" name="" id="poke-filter" placeholder="search" maxlength="20">

<img [src]="pkmSprite" alt="" class="selected-pkm" *ngIf="selectedPkm !== null" >

<!-- <input type="text" [(ngModel)]="search" (keyup.enter)="getRepositories()" style="margin: 5em;">
<ul>
  <li *ngFor="let item of repositorios"> {{item.full_name}}</li>
</ul> -->

<ul class="poke-list">
  <li class="poke-list-item" *ngFor="let pokemon of pokemonList" (mouseenter)="selectPokemon(pokemon)">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.number }}.png" alt="">
    <span>{{pokemon.number | number:'3.0-0'}} - {{pokemon.name}}</span>
  </li>  
</ul> 

